<body>

  <img
    src="/assets/images/logo_light.png"
    alt="Star-Crossed Logo"
    class="logo-main"
  />

  <div class="card text-center w-50 card-center card-wrapper card-glow">
    <div class="card-body font-maven main-card">
      <h3 class="card-title">Find love to the moon and back with<br
        />Star-Crossed</h3>
      <p class="card-text">A matchmaking app for the literal stars</p>
      <a href="/login" class="btn btn-primary zen-dots bg-lavender">Login</a>
      <a href="/signup" class="btn btn-primary zen-dots bg-lavender">Sign Up</a>
    </div>
    <div class="card-footer text-light font-maven-600 bg-dark-blue">
      Because you're outta this world!
    </div>
  </div>

</body>