<nav class='container nav justify-content-start align-middle'>Star-Crossed
	<ul class='nav nav-style justify-content-end align-middle'>
		<li class='nav-item'>
			<a class='nav-link green' href='#'>Login</a>
		</li>
		<li class='nav-item'>
			<a class='nav-link green' href='#'>Sign Up</a>
		</li>
	</ul>
</nav>

<body>

	<div class='card text-center w-75'>
		<div class='card-header'>
			Star-Crossed
		</div>
		<div class='card-body'>
			<h5 class='card-title'>Find the one to love to the moon and back!</h5>
			<p class='card-text'>a matchmaking app for celestial bodies</p>
			<a href='#' class='btn btn-primary'>Login</a>
			<a href='#' class='btn btn-primary'>Sign Up</a>
		</div>
		<div class='card-footer text-muted'>
			You're outta this world!
		</div>
	</div>

</body>