<nav class="nav justify-content-start">
    Star-Crossed!รง

<ul class="nav nav-style justify-content-end ">

  <li class="nav-item">
    <a class="nav-link green" href="#">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link green" href="#">Sign Up</a>
  </li>

</ul>
</nav>
</banner>

<body>
  <h1 class='title-font'>you're a star</h1>
  <p class='body-font'>i'm a star</p>
</body>
