<body>

	<div class='card text-center w-75'>
		<div class='card-header'>
			Star-Crossed
		</div>
		<div class='card-body'>
			<h5 class='card-title'>Find the one to love to the moon and back!</h5>
			<p class='card-text'>a matchmaking app for celestial bodies</p>
			<a href='/login' class='btn btn-primary'>Login</a>
			<a href='/signup' class='btn btn-primary'>Sign Up</a>
		</div>
		<div class='card-footer text-muted'>
			You're outta this world!
		</div>
	</div>

</body>