<body>

	<img src='/assets/images/logo_light.png' alt='Star-Crossed Logo' class='logo-main' />

	<div class='card text-center w-50 card-center card-wrapper card-glow'>
		{{! <div class='card-header zen-dots bg-lavender card-top'>
			Star-Crossed
		</div> }}
		<div class='card-body zcool'>
			<h3 class='card-title'>Find love to the moon and back with<br />Star-Crossed</h3>
			<p class='card-text'>a matchmaking app for celestial bodies</p>
			<a href='/login' class='btn btn-primary zen-dots bg-green'>Login</a>
			<a href='/signup' class='btn btn-primary zen-dots bg-green'>Sign Up</a>
		</div>
		<div class='card-footer text-muted zen-dots bg-lavender text-green'>
			Because you're outta this world!
		</div>
	</div>

</body>