<div>
<nav class="navbar navbar-expand-md nav-bar">

  <div class="nav-bar">
    <img src="/assets/images/logo_text.png" style="max-width: 3em;" />
  </div>

  <div class="nav-bar-r" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item zcool">
        <input type="image" src="/assets/images/logout_text.png"
          id="logout" class="logout-text"
          alt="Log out"
        ></input>
      </li>
      <li class="nav-item zcool">
        <input type="image" style="padding-top: 0.25em;" src="/assets/images/profiles_text.png"
          onclick="document.location='/profile1'"
          alt="Return to Profiles"
        ></input>
      </li>
    </ul>
  </div>

</nav>
</div>

<div>

  <map name="spacemap">
    <area
      alt="Andy"
      title="Andy"
      target="_blank"
      href="/profile4"
      coords="875,2119,1336,2374"
      shape="rect"
    />
    <area
      alt="Carl"
      title="Carl"
      target="_blank"
      href="/profile1"
      coords="2804,2681,3254,2930"
      shape="rect"
    />
    <area
      alt="E-4397"
      title="E-4397"
      target="_blank"
      href="/profile3"
      coords="1580,1017,2184,1303"
      shape="rect"
    />
    <area
      alt="Bella"
      title="Bella"
      target="_blank"
      href="/profile2"
      coords="3943,1457,4415,1738"
      shape="rect"
    />
  </map>
  <img src="/assets/images/map.jpg" alt="Space Map" usemap="#spacemap" />

</div>

<script src="/assets/js/logout.js"></script>