<div>

  <map name="spacemap">
    <area
      alt="Andy"
      title="Andy"
      target="_blank"
      href="/profile4"
      coords="875,2119,1336,2374"
      shape="rect"
    />
    <area
      alt="Carl"
      title="Carl"
      target="_blank"
      href="/profile"
      coords="2804,2681,3254,2930"
      shape="rect"
    />
    <area
      alt="E-4397"
      title="E-4397"
      target="_blank"
      href="/profile3"
      coords="1580,1017,2184,1303"
      shape="rect"
    />
    <area
      alt="Bella"
      title="Bella"
      target="_blank"
      href="/profile2"
      coords="3943,1457,4415,1738"
      shape="rect"
    />
  </map>
  <img src="/assets/images/map.jpg" alt="Space Map" usemap="#spacemap" />

</div>