<div>
{{> nav-bar}}
</div>

<div class='row'>
	<div class='card' style='width: 35rem;'>
		<img class='card-img-top' src='/assets/images/bella.gif' alt='Bella gif' />
		<div class='card-body profile-card'>
			<h2 class='card-title'>Bella</h2>
			<br>
			<p class='card-text'>Distance: 15 lightyears away!</p>
			<p class='card-text'>Celestial Type: Nebula</p>
			<p class='card-text'>Temperature: 40000</p>
			<p class='card-text'>Gravitational Pull: 2000000</p>
			<p class='card-text'>Primary Elements: Starstuff</p>
			<p class='card-text'>Light Energy: 40000000</p>
			<p class='card-text'>Favorite Quote: "We're all made of starstuff."</p>
		</div>
	</div>

</div>

<div class="swipe">
	<a href='/profile1' class='btn btn-primary zen-dots bg-lavender'>Previous</a>
	<img src="/assets/images/x_before1.png">
   	<img src="/assets/images/heart_before1.png">
	<a href='/profile3' class='btn btn-primary zen-dots bg-lavender'>Next</a>
</div>

<script src="/assets/js/logout.js"></script>