<nav class="nav justify-content-start">
    Star-Crossed!

<ul class="nav justify-content-end">

  <li class="nav-item">
    <a class="nav-link" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Matches</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="#">My Profile</a>
  </li>

</ul>
</nav>
</banner>

<div class="col-4">
    <div class="card" style="width: 18rem;">
        <img src="/assets/images/blackhole.jpg" class="card-img-top" alt="blackhole">
        <div class="card-body">
            <h5 class="card-title">Carl</h5>
            <p class="card-text">Black hole.</p>
     </div>
</div>
</div>
<div class="col-8">
    This is where other profiles will go
</div>
