
<div>
{{> nav-bar}}
</div>

<div class="row">
  <div class="card card-glow" style="width: 30rem;">
    <img
      class="card-img-top"
      src="/assets/images/carl.gif"
      alt="Card image cap"
    />
    <div class="card-body profile-card">
      <h2 class="card-title">Carl</h2>
      <br>
      <p class="card-text">Distance: 230 lightyears away!</p>
      <br>
      <p class="card-text">Celestial Type: Black Hole</p>
      <p class="card-text">Temperature: 10000</p>
      <p class="card-text">Gravitational Pull: 50000000</p>
      <p class="card-text">Primary Elements: All that is holy</p>
      <p class="card-text">Light Energy: -2000000000</p>
      <p class="card-text">Favorite Quote: "Quotes around the keys!"</p>
    </div>
  </div>
</div>

<div class="swipe">
  <a href="/profile4" class="btn btn-primary zen-dots bg-lavender">Previous</a>
  <script>
  var onImg_x= "/assets/images/x_before.png";
  var offImg_x= "/assets/images/x_after.png";
  </script>
<img src="/assets/images/x_before.png" onclick="this.src = (this.src.endsWith(offImg_x)? onImg_x : offImg_x);"/>
  <script>

  var onImg_heart= "/assets/images/heart_before.png";
  var offImg_heart= "/assets/images/heart_after.png";
  </script>

<img src="/assets/images/heart_before.png" onclick="this.src = (this.src.endsWith(offImg_heart)? onImg_heart : offImg_heart);"/>

  <a href="/profile2" class="btn btn-primary zen-dots bg-lavender">Next</a>
</div>

<script src="/assets/js/logout.js"></script>