<div class="row">
  <div class="col-md-12 zen-dots form-center">
    <h2 class="mt-2em">Sign-up</h2>
    <form class="form signup-form">
      <div class="form-group p-1em mr-15em">
        <label for="name-signup" class="signup-label">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group p-1em mr-15em">
        <label for="email-signup" class="signup-label">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group p-1em mr-15em">
        <label for="password-signup" class="signup-label">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group p-1em mr-15em">
        <label for="celestialtype-signup" class="signup-label">celestial type:</label>
        <input class="form-input" type="text" id="celestialtype-signup" />
      </div>
      <div class="form-group p-1em mr-15em">
        <label for="temp-signup" class="signup-label">temperature:</label>
        <input class="form-input" type="text" id="temp-signup" />
      </div>
      <div class="form-group p-1em mr-15em">
        <label for="gravity-signup" class="signup-label">gravitational pull:</label>
        <input class="form-input" type="text" id="gravity-signup" />
      </div>
      <div class="form-group p-1em mr-15em">
        <label for="elements-signup" class="signup-label">primary elements:</label>
        <input class="form-input" type="text" id="elements-signup" />
      </div>
      <div class="form-group p-1em mr-15em">
        <label for="light-signup" class="signup-label">light energy:</label>
        <input class="form-input" type="text" id="light-signup" />
      </div>
      <div class="form-group p-1em mr-15em">
        <label for="quote-signup" class="signup-label">favorite quote:</label>
        <input class="form-input" type="text" id="quote-signup" />
      </div>
      <div class="form-group p-1em mr-15em">
        <label for="photo-signup" class="signup-label">Upload Photo (URL):</label>
        <input class="photo-input" type="url" id="photo-signup" />
      </div>
      <div class="form-group d-f jc-c">
        <button class="btn btn-primary" type="submit">sign-up</button>
      </div>
    </form>
  </div>
</div>

<script src="/assets/js/login.js"></script>