<div class='row'>
	<div class='col-md-12'>
		<h2>Signup</h2>

		<form class='form signup-form'>
			<div class='form-group'>
				<label for='name-signup'>name:</label>
				<input class='form-input' type='text' id='name-signup' />
			</div>
			<div class='form-group'>
				<label for='email-signup'>email:</label>
				<input class='form-input' type='text' id='email-signup' />
			</div>
			<div class='form-group'>
				<label for='password-signup'>password:</label>
				<input class='form-input' type='password' id='password-signup' />
			</div>
			<div class='form-group'>
				<label for='celestialtype-signup'>celestial type:</label>
				<input class='form-input' type='text' id='celestialtype-signup' />
			</div>
			<div class='form-group'>
				<label for='temp-signup'>temperature:</label>
				<input class='form-input' type='text' id='temp-signup' />
			</div>
			<div class='form-group'>
				<label for='gravity-signup'>gravitational pull:</label>
				<input class='form-input' type='text' id='gravity-signup' />
			</div>
			<div class='form-group'>
				<label for='elements-signup'>primary elements:</label>
				<input class='form-input' type='text' id='elements-signup' />
			</div>
			<div class='form-group'>
				<label for='light-signup'>light energy:</label>
				<input class='form-input' type='text' id='light-signup' />
			</div>
			<div class='form-group'>
				<label for='quote-signup'>favorite quote:</label>
				<input class='form-input' type='text' id='quote-signup' />
			</div>
			<div class='form-group'>
				<label for='photo-signup'>Upload Photo (URL):</label>
				<input class='photo-input' type='url' id='photo-signup' />
			</div>
			<div class='form-group'>
				<button class='btn btn-primary' type='submit'>signup</button>
			</div>
		</form>
	</div>
</div>

<script src='/assets/js/login.js'></script>