:root {
	--dark-blue: #00569e;
	--lavender: #b09bd8;
	--light-blue: #52e7fa;
	--white: #f6fdfe;
	--green: #7dccab;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: url(../images/space.jpg);
	background-size: cover;
}

.zen-dots {
	font-family: 'Zen Dots', cursive;
}

.zcool {
	font-family: 'ZCOOL XiaoWei', serif;
}

.nav-style {
	font-family: var(--title-font);
	color: var(--green);
}

h1 {
	font-family: var(--title-font);
	color: var(--lavender);
}

h2 {
	font-family: var(--title-font);
	color: var(--white);
}

h5 {
	font-family: var(--title-font);
	color: var(--dark-blue);
}

p {
	font-family: var(--body-font);
	color: var(--light-blue);
}

.signup-label {
	color: var(--white);
}

.card-center {
	display: flex;
	margin: auto;
	margin-top: 10em;
	margin-bottom: 10em;
	padding: 0;
}

.card-glow {
	-webkit-box-shadow: #f6fdfe, 8px 8px 4px 2px #f6fdfe;
	box-shadow: #f6fdfe, 8px 8px 4px 2px #f6fdfe;
	-webkit-animation-name: gradient-shadow;
	animation-name: gradient-shadow;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	border-radius: 10px 100px / 100px;
	-webkit-border-radius: 10px 100px / 100px;
	-moz-border-radius: 10px 100px / 100px;
	-ms-border-radius: 10px 100px / 100px;
	-o-border-radius: 10px 100px / 100px;
}

@-webkit-keyframes gradient-shadow {
	0% {
		-webkit-box-shadow: 0 0 17px 3px #7dccab, 0 0 4px 2px #7dccab;
		box-shadow: 0 0 17px 3px #7dccab, 0 0 4px 2px #7dccab;
	}
	20% {
		-webkit-box-shadow: 0 0 17px 3px #00569e, 0 0 4px 2px #00569e;
		box-shadow: 0 0 17px 3px #00569e, 0 0 4px 2px #00569e;
	}
	40% {
		-webkit-box-shadow: 0 0 17px 3px #52e7fa, 0 0 4px 2px #52e7fa;
		box-shadow: 0 0 17px 3px #52e7fa, 0 0 4px 2px #52e7fa;
	}
	60% {
		-webkit-box-shadow: 0 0 17px 3px #b09bd8, 0 0 4px 2px #b09bd8;
		box-shadow: 0 0 17px 3px #b09bd8, 0 0 4px 2px #b09bd8;
	}
	80% {
		-webkit-box-shadow: 0 0 17px 3px #52e7fa, 0 0 4px 2px #52e7fa;
		box-shadow: 0 0 17px 3px #52e7fa, 0 0 4px 2px #52e7fa;
	}
	100% {
		-webkit-box-shadow: 0 0 17px 3px #7dccab, 0 0 4px 2px #7dccab;
		box-shadow: 0 0 17px 3px #7dccab, 0 0 4px 2px #7dccab;
	}
}

@keyframes gradient-shadow {
	0% {
		-webkit-box-shadow: 0 0 17px 3px #7dccab, 0 0 4px 2px #7dccab;
		box-shadow: 0 0 17px 3px #7dccab, 0 0 4px 2px #7dccab;
	}
	20% {
		-webkit-box-shadow: 0 0 17px 3px #00569e, 0 0 4px 2px #00569e;
		box-shadow: 0 0 17px 3px #00569e, 0 0 4px 2px #00569e;
	}
	40% {
		-webkit-box-shadow: 0 0 17px 3px #52e7fa, 0 0 4px 2px #52e7fa;
		box-shadow: 0 0 17px 3px #52e7fa, 0 0 4px 2px #52e7fa;
	}
	60% {
		-webkit-box-shadow: 0 0 17px 3px #b09bd8, 0 0 4px 2px #b09bd8;
		box-shadow: 0 0 17px 3px #b09bd8, 0 0 4px 2px #b09bd8;
	}
	80% {
		-webkit-box-shadow: 0 0 17px 3px #52e7fa, 0 0 4px 2px #52e7fa;
		box-shadow: 0 0 17px 3px #52e7fa, 0 0 4px 2px #52e7fa;
	}
	100% {
		-webkit-box-shadow: 0 0 17px 3px #7dccab, 0 0 4px 2px #7dccab;
		box-shadow: 0 0 17px 3px #7dccab, 0 0 4px 2px #7dccab;
	}
}

/* .title-font {
	font-family: 'Zen Dots', cursive;
}

.body-font {
	font-family: 'ZCOOL XiaoWei', serif;
} */

/*
--dark-blue: #00569E;
--lavender: #B09BD8;
--light-blue: #52E7FA;
--white: #F6FDFE;
--green: #7DCCAB;
 */
