:root {
  --dark-blue: #00569e;
  --neon-kelp: #93f0e0;
  --lavender: #62439c;
  --light-blue: #52e7fa;
  --white: #f6fdfe;
  --green: #7dccab;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url(../images/space.jpg);
  background-size: cover;
}

h1 {
  font-family: var(--title-font);
  color: var(--lavender);
}

h2 {
  font-family: var(--title-font);
  color: var(--white);
}

h3 {
  font-family: var(--title-font);
  color: var(--neon-kelp);
}

p {
  font-family: var(--body-font);
  color: var(--light-blue);
  font-size: 1.50rem;
  line-height: 1.75;
}

label {
  display: inline-block;
  clear: left;
  width: 250px;
  text-align: right;
  padding-right: 1em;
}

.main-card {
  background-color: rgb(23, 5, 66);
}

.swipe {
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 20px;
}

.mb-2 {
  margin-bottom: 2%;
}

.zen-dots {
  font-family: "Zen Dots", cursive;
}

.zcool {
  font-family: "ZCOOL XiaoWei", serif;
}

.font-maven {
  font-family: "Maven Pro", san-serif;
  font-weight: 500;
}

.font-maven-600 {
  font-family: "Maven Pro", san-serif;
  font-weight: 600;
}
.nav-bar {
  display: flex;
  font-size: 2em;
  justify-content: space-between;
  align-items: flex-start;
}

.nav-bar-r {
  display: flex;
  justify-content: flex-end;
}


.logo-main {
  display: flex;
  margin: auto;
  width: 250;
  height: 250;
}

.signup-label {
  color: var(--white);
}

.card-center {
  display: flex;
  margin: auto;
  padding: 0;
}

.card-img-top {
  padding-bottom: 1em;
  border-radius: 2em
}

.card-title {
  text-align: center;
  font-size: 45;
}

.logout-text {
  padding-top: .35em;
}

@-webkit-keyframes gradient-shadow {
  0% {
    -webkit-box-shadow: 0 0 17px 3px #7dccab, 0 0 4px 2px #7dccab;
    box-shadow: 0 0 17px 3px #7dccab, 0 0 4px 2px #7dccab;
  }
  20% {
    -webkit-box-shadow: 0 0 17px 3px #00569e, 0 0 4px 2px #00569e;
    box-shadow: 0 0 17px 3px #00569e, 0 0 4px 2px #00569e;
  }
  40% {
    -webkit-box-shadow: 0 0 17px 3px #52e7fa, 0 0 4px 2px #52e7fa;
    box-shadow: 0 0 17px 3px #52e7fa, 0 0 4px 2px #52e7fa;
  }
  60% {
    -webkit-box-shadow: 0 0 17px 3px #b09bd8, 0 0 4px 2px #b09bd8;
    box-shadow: 0 0 17px 3px #b09bd8, 0 0 4px 2px #b09bd8;
  }
  80% {
    -webkit-box-shadow: 0 0 17px 3px #52e7fa, 0 0 4px 2px #52e7fa;
    box-shadow: 0 0 17px 3px #52e7fa, 0 0 4px 2px #52e7fa;
  }
  100% {
    -webkit-box-shadow: 0 0 17px 3px #7dccab, 0 0 4px 2px #7dccab;
    box-shadow: 0 0 17px 3px #7dccab, 0 0 4px 2px #7dccab;
  }
}

@keyframes gradient-shadow {
  0% {
    -webkit-box-shadow: 0 0 17px 3px #7dccab, 0 0 4px 2px #7dccab;
    box-shadow: 0 0 17px 3px #7dccab, 0 0 4px 2px #7dccab;
  }
  20% {
    -webkit-box-shadow: 0 0 17px 3px #00569e, 0 0 4px 2px #00569e;
    box-shadow: 0 0 17px 3px #00569e, 0 0 4px 2px #00569e;
  }
  40% {
    -webkit-box-shadow: 0 0 17px 3px #52e7fa, 0 0 4px 2px #52e7fa;
    box-shadow: 0 0 17px 3px #52e7fa, 0 0 4px 2px #52e7fa;
  }
  60% {
    -webkit-box-shadow: 0 0 17px 3px #b09bd8, 0 0 4px 2px #b09bd8;
    box-shadow: 0 0 17px 3px #b09bd8, 0 0 4px 2px #b09bd8;
  }
  80% {
    -webkit-box-shadow: 0 0 17px 3px #52e7fa, 0 0 4px 2px #52e7fa;
    box-shadow: 0 0 17px 3px #52e7fa, 0 0 4px 2px #52e7fa;
  }
  100% {
    -webkit-box-shadow: 0 0 17px 3px #7dccab, 0 0 4px 2px #7dccab;
    box-shadow: 0 0 17px 3px #7dccab, 0 0 4px 2px #7dccab;
  }
}

.bg-lavender {
  background-color: var(--lavender);
}

.bg-light-blue {
  background-color: var(--light-blue);
}

.bg-dark-blue {
  background-color: var(--dark-blue);
}

.bg-dark-b {
  background: rgb(27, 5, 71);
}

.bg-green {
  background-color: var(--green);
}

.bg-white {
  background-color: var(--white);
}

.near {
  font-weight: 600;
  color: rgb(23, 5, 66);
  background-color: var(--green);
  width: fit-content;
}
.profile-card {
  background: rgb(27, 5, 71);
  color: var(--neon-kelp);
  font-family: "Maven Pro", san-serif;
}

.card {
  background-color: transparent;
  border: 0;
  margin: auto;
  width: 40em;
}

.card-body {
  border-radius: 1em;
}

.color-lavender {
  color: var(--lavender);
}

.color-light-blue {
  color: var(--light-blue);
}

.color-dark-blue {
  color: var(--dark-blue);
}

.f-lg {
  font-size: 2em;
}

.text-green {
  color: var(--green);
}

.text-light {
  color: rgb(255, 255, 255);
}

.text-white {
  color: var(--white);
}

.form-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.d-f {
  display: flex;
}

.jc-c {
  justify-content: center;
}

.p-1em {
  padding: 1em;
}

.mt-2em {
  margin-top: 2em;
}

.mr-15em {
  margin-right: 15em;
}

.title-font {
  font-family: "Zen Dots", cursive;
}

.card-glow {
  -webkit-box-shadow: #f6fdfe, 8px 8px 4px 2px #f6fdfe;
  box-shadow: #f6fdfe, 8px 8px 4px 2px #f6fdfe;
  -webkit-animation-name: gradient-shadow;
  animation-name: gradient-shadow;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@media screen and (max-width: 576px){
  .nav-bar {
      display: flex;
      flex-wrap: inherit;
      flex-direction: column;
      align-items: center;
  }
}