:root {
	--dark-blue: #00569e;
	--lavender: #b09bd8;
	--light-blue: #52e7fa;
	--white: #f6fdfe;
	--green: #7dccab;
    --title-font: font-family: 'Zen Dots', cursive;
    --body-font: font-family: 'ZCOOL XiaoWei', serif;
}


.zen-dots {
    font-family: 'Zen Dots', cursive;
}

.zcool {
    font-family: 'ZCOOL XiaoWei', serif;
}

body {
	background: url(../images/space.jpg);
	background-size: cover;
}

.nav-style {
    font-family: var(--title-font);
    color: var(--green);
}

h1 {
    font-family: var(--title-font);
    color: var(--lavender);
}

h5 {
    font-family: var(--title-font);
    color: var(--dark-blue);
}

p {
    font-family: var(--body-font);
    color: var(--light-blue);
}

.card-center {
    display: flex;
    margin: auto;
    margin-top: 10em;
}

/* .title-font {
	font-family: 'Zen Dots', cursive;
}

.body-font {
	font-family: 'ZCOOL XiaoWei', serif;
} */

/*
--dark-blue: #00569E;
--lavender: #B09BD8;
--light-blue: #52E7FA;
--white: #F6FDFE;
--green: #7DCCAB;
 */
